<aside class = "left-nav-container survey-pages"><i id = "survey-menu-bar" class="fa fa-bars fa-3x"></i>
  <nav class = "left-survey-nav">
    <div class = "survey-dashboard link-to-survey-dashboard"> <%= link_to 'Survey Page', surveys_path, { class: 'header-link'} %> </div>
    <div class = "survey-dashboard link-to-create-new"> <%= link_to 'New Survey', new_survey_path %>
</div>
    <div class = "survey-dashboard link-to-templates"> TEMPLATES </div>
    <div class = "survey-dashboard link-to-account-info"> ACCOUNT </div>
  </nav>
</aside>

<% if (@survey.user_id == session[:user_id]) && (@survey.publish == 1) %>
 <h2>Your survey is ready!</h2>
 <h3>Please copy the URL on this page to share it or use the link here: <%= link_to "#{surveys_url}/#{@survey.id}" %></h3>
<% end %>


<p>
  <strong>Survey Title:</strong>
  <%= @survey.title %>
</p>

<% if @survey.description != "" %>
  <p>
    <strong>Survey Description:</strong>
    <%= @survey.description %>
  </p>
<% end %>

<%= form_for @taker, url: answers_path do |f| %>
  <div>
    <%= f.fields_for :answers do |ff| %>
      <% q = ff.object.question %>
      <%= q.question_text %>
      <%= q.description %>
      <% if q.question_type == "Yes/No" %>
        <%= ff.label :question_response, 'Yes' %>
        <%= ff.radio_button :question_response, 'Yes', :value => 'Yes'%>
        <%= ff.label :question_response, 'No' %>
        <%= ff.radio_button :question_response, 'No', :value => 'No' %>
      <% elsif q.question_type == "Short Answer" %>
        <%= ff.text_field :question_response, placeholder: 'Short Answer' %>
      <% elsif q.question_type == "Long Answer" %>
        <%= ff.text_area :question_response, placeholder: 'Long Answer' %>
      <% end %>
      <%= ff.hidden_field :question_id, value: q.id %>
      <%= ff.hidden_field :question_number, value: q.question_number %>
      <br>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Responses"%>
  </div>

<% end %>

<br><br>
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
