<p id="notice"><%= notice %></p>

<p>
  <strong>Survey Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Survey Description:</strong>
  <%= @survey.description %>
</p>

<%=form_for(@survey) do |f| %>

  <% @survey.questions.each do |q| %>
      <div>
        <%= q.question_text %>
        <%= q.description %>
      </div>
  <% end %>

<% end %>

<br><br>
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
