<!DOCTYPE html>
<html>
<head>
  <title>SurveyPossum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
<header>
   <nav class = "header">
      <div class = "header-left-links">
         <a href = "#" class = "header-link"><i class="fa fa-line-chart"></i>
</a>
         <%= link_to 'Survey Page', surveys_path, {style: 'color: white', class: 'header-link'} %>
      </div>
      <div class = "header-right-links">
         <%= link_to 'Add a Survey', new_survey_path, {style: 'color: white', class: 'header-link'} %>
         <p>|</p>
         <p id = "logout"><%= link_to 'Logout', logout_path %></p>
      </div>
   </nav>
</header>

<div class = "landing-page-card">
   <%= yield %>
</div>

<footer>
   <nav class = "footer">
      <div class = "footer-left-links">
         <%= link_to 'Start Page', root_path, {style: 'color: white', class: 'footer-link'}  %>
         <p>|</p>
         <%= link_to 'Survey Page', surveys_path, {style: 'color: white', class: 'footer-link'} %>
      </div>
      <div class = "footer-right-links">
         <%= link_to 'Add a Survey', new_survey_path, {style: 'color: white', class: 'footer-link'} %>
         <p>|</p>
         <a href = "#" class = "footer-link">About</a>
      </div>
   </nav>
</footer>

</body>
</html>
